@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

.App {
    margin: 30px auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif !important;
}

body {
    background-color: rgba(0, 0, 0, 0.904);
}

.contain {
    width: 90%;
    text-align: center;
}

.sec1 {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.card {
    width: 190px;
    text-align: center;
    margin: 15px;
}

.MuiSvgIcon-root {
    color: white !important;
}

@media (max-width:767px) {
    .contain {
        width: 96%;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sec1 {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width:514px) {
    .card {
        width: 250px;
    }
}